@font-face {
	font-family: 'headpolice';
	src: url('Vonique%2092%20Regular.otf');
}
@font-face {
	font-family: 'corps';
	src: url('CaviarDreams.ttf');
}
@font-face {
	font-family: 'titre';
	src: url('CaviarDreams.ttf');
}

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #FFF;
	font: 1em 'corps', Verdana, Tahoma, arial, sans-serif;
	color: #555;
	text-align: center;
}

/* links */
a, a:visited {
	text-decoration: none;
	color: #554444;
}
a:hover {
	color: #555;
	background: inherit;
	text-decoration: underline;
}

/* headers */
h1, h2, h3 {
	font-family: 'titre', 'Trebuchet MS', Tahoma, Sans-serif;
}
h1 {
	font-size: 150%;	
	font-weight: normal;
	color: #000;
}
h2 {
	font-size: 140%;
	text-transform: uppercase;
	color: #000;
}
h3 {
	font-size: 120%;
	color: #666666;
}

/* images */
img {
   border: none;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 10px;		
	margin: 0;
}

header h1, header h2 {
	padding: 0px;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
   border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(../images/quote.gif) no-repeat 5px 5px;
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 10px;	
}
th strong {
	color: #fff;
}
th {
	background: #777;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: center;
	border-left: 1px solid #222;
	border-bottom: solid 2px #FFF;
}
form th {
    text-align: left;
}
tr {
	height: 30px;
}
td {
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
    text-align: center;
}
form td {
    text-align: left;
}
td.first,th.first {
	border-left: 0px;
}
tr.row-a {
	background: #F8F8F8;
}
tr.row-b {
	background: #EFEFEF;
}
/* end - table */

/* form elements */
form {
	margin:10px; padding: 0 5px;
	border: 2px solid #666666;
	background-color: #FAFAFA; 	
}
label {
	display:block;
	margin:5px 0;
}
input {
	padding:2px;
	border:1px solid #000;
	font: normal 1em Verdana, sans-serif;
	color:#222;
}
textarea {
	padding:2px;
	font: normal 1em Verdana, sans-serif;
    border:1px solid #000;
    width: 90%;
	height:200px;
	display:block;
	color:#222;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #222 url(../images/button-bg.jpg) repeat-x 0 0;
	border: none;
}

/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
	width: 190px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 120px;
	color: #777;
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
}
.searchform input.button { 
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/

#wrap {
	width: 100%;
	background: #FFF;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	width: 98%;
	padding: 0; 
	margin: 10px auto;
}
header {
	width: 100%;
	position: relative;
	height: auto;
	background: #FFF;
	padding: 0;
	color: #000000;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
header h1 {
	font: 80px 'headpolice', Trebuchet MS, Arial, Sans-serif;
	color: #000000 !important;
	text-transform: none;
	text-decoration: none;
	background: transparent;
    letter-spacing : 0.1em;
}

header a:hover {
    text-decoration:none;
}
header p {
	margin: 0; padding: 0;
	font: normal 20px 'headpolice', Trebuchet MS, Arial, Sans-serif;
	text-transform: none;
	color: #000000;
    letter-spacing : 1.5em;
}

/* header links */
header #header-links {
	position: absolute;
	top: 20px; right: 30px;	
	color: #C6DDEE;
	font-size: 10px;	
}
header #header-links a {	
	color: #FFF;
	text-decoration: none;	
}
header #header-links a:hover {
	color: #333;
}

/* Menu */
nav {
	clear: both;
	margin: 0 auto;
	padding: 0;
	background: #222222;
	font: bold 0.8em Verdana, Arial, Tahoma, Sans-serif;
	height: 37px;
	width: 100%;
	border-bottom: 2px solid #777777;
}
nav ul {
	float: right;
	list-style: none;
	margin:0; padding: 0;
}
nav ul li {
	display: inline;
}
nav ul li a {
	display: block;
	float: left;
	padding: 12px;
	color: #FFF !important;
	text-decoration: none !important;
}
nav ul li.last a {
	padding-right: 20px;	
}
nav ul li a:hover {
	color: #EFEFEF !important;
}
nav ul li#current a {	
	color: #EFEFEF !important;
}

#menumobile {
    display: none;
}
#hiddenmobile{
    display: none;
    position: absolute;
    top: 70px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: #222222;
    padding: 10px;
    margin-top: 0;
    color: #FFF;
    border-right: 1px solid #777777;
    z-index: 100;
}

/* Main Column */
#main {
	float: right;
	width: 78%;
	padding: 0;
    margin: 5px 0 0 5px;
	display: inline;
}
#main h2 {
	margin-top: 1px;
	margin-bottom: 10px;
	font: Bold 140% 'titre', 'Trebuchet MS', Tahoma, Sans-serif;
	color: #000;
	padding: 5px 0 5px 25px; 	
	border-bottom: 1px solid #EFF0F1;
	background: #FFF url(../images/square-green.png) no-repeat 3px 50%;
	text-transform: none;
}
#main h2 a {
	background: none;
	color: #000;
	text-decoration: none;
}

#main p {
	background: #FFF;
    text-align: justify;
}

#main ul li {
	list-style-image: url(../images/bullet.gif);
}

article {
    position: relative;
    display: inline-block;
    width: 44%;
    vertical-align: top;
	padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
	margin-left: 1%;
    margin-bottom: 40px;
    border-bottom: 1px solid #EFF0F1;
    background: #FFF ; /*url(../images/grade.png) repeat-x bottom;*/
}

article img, p img {
    max-width: 100%;
}

.article_body {
    max-height: 190px;
    overflow: hidden;
    text-align: justify;
}

.thumbbox {
	float: left;
	max-height: 140px;
	width: 140px;
	margin-right: 10px;
	margin-bottom: 10px;
	clip: auto;
	overflow: hidden;
	vertical-align: text-top;
}

.thumbbox img {
	width: 140px;
}

.grade {
    position: absolute;
    bottom: 0px;
    background: url(../images/grade.png) repeat-x bottom;
    width: 100%;
    height: 16px;
    text-align: center;
    font-size: 92%;
}

.suite {
    display: block;
    position: absolute;
    vertical-align: baseline;
    width: auto;
    border: 1px solid #EFF0F1;
    padding: 5px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

.suite:hover {
    text-decoration:none;
    background-color: #EFEFEF;

}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin: 20px 10px 10px 10px;
	border: 1px solid #f2f2f2;
	font-size: 95%;	
}
.post-footer .date {
	background: url(../images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(../images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(../images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* Sidebar */	
#sidebar {
	float: left;
	width: 18%;
	padding: 10px;
	margin-top: 0;
	color: #222;
	background: #FFF;
    border-right: 1px solid #EEEFF0;
}	
#sidebar h3 {
	margin-top: 11px;
	padding: 5px 5px; 
	font: bold 1.4em 'titre', 'Trebuchet MS', Tahoma, Sans-serif;
	color: #000;
    border-bottom: 1px solid #EFF0F1;

}
ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 7px 4px 8px 0; padding: 0;
	text-decoration: none;

}
ul.sidemenu li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #222;
}
* html body #sidebar ul.sidemenu li {
	height: 1%;
}
ul.sidemenu li a {
	text-decoration: none;	
	background-image: none;	
	color: #666666;
}
ul.sidemenu li a:hover {
	color: #333;
}
ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
ul.sidemenu ul li { background: none; }


/* Footer */	
footer {
	color: #333;
	background: #EEE url(../images/cc.png) no-repeat 10px 15px;;
	clear: both;
	width: auto;
	height: auto;
    padding-left: 35px;
    padding-top: 17px;
    padding-bottom: 17px;
	text-align: left;
	font: bolder 0.8em 'Trebuchet MS', Tahoma, Sans-serif;
}
footer a { 
	color: #333;
	text-decoration: none; 
}

#top_arrow{
    display: block;
    position: fixed;
    color: #FFFFFF;
    bottom: 10px;
    right: 10px;
    padding-top: 8px;
    width: 40px;
    text-align: center;
    border: 2px solid #777777;
    border-radius: 10px;
    background: #222222;
    font: Bold 20px 'headpolice', Trebuchet MS, Arial, Sans-serif;
}

#top_arrow:hover{
    text-decoration: none;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }

.middle { vertical-align: middle; }

@media all and (max-width: 1024px) {
    article {
        display: block;
        width: auto;
        margin-right: 5.5%;
    }
    #main {
        width: 98%;
    }
    #sidebar {
        display: none;
    }
    #menumobile {
        display: block;
    }
	#hiddenmobile {
		display: none;
	}
    #menumobile:focus + #hiddenmobile {
		display: block;
    }
    #hiddenmobile:hover {
		display: block;
    }
	body {
		background: #FFF;
		font: 2em 'corps', Verdana, Tahoma, arial, sans-serif;
		color: #555;
		text-align: center;
	}
	nav {
		font: bold 1em Verdana, Arial, Tahoma, Sans-serif;
		height: 70px;
	}


}